/* Fist nav bar */
.bg-comash{
    background-color: #FAFAFA;
}
.bg-comash-1{
    background-color: #bdc3c7;
}

#bg-white{
    background-color: #FFFFFF;
    border-radius: 50px;
}

#bg-red{
    background-color: #EA3237;
    border-radius: 50px ;
}


#bg-red :hover{
    background-color: #c42c31;
}
.bg-end{
    background-color: #F7F8F8;
    font-size: 18px;
}

#bg-drop-down{
    background-color: #f4f4f8c3;
}




.w-10{
    width: 50px;
}

.px-7{
  position: relative;
  left: 10%;
}

.px-10{
    position: relative;
    left: 100px;
   
  }

.drop-btn{
    width: 25px;
    margin-right: 10px;
    left: 20px;
}

#dropdown-ul{
    min-width: max-content;
}

.borderA{
   border-radius: 100%;
   height: 20px;
   width: 20px;
   border: 1px solid #bdc3c7;
   position: relative;
   top: 10px;
   left: 100px;
   margin-right: 10px;
   
}

.li-a{
    position: relative;
    bottom: 11px;
    right: 4px;
    padding-left: 10px;
}


.carousel{
    width:100%;
    height: 700px;  
}

.text-slide{
    color: #F7D700;
}

.slid-text{
    position: absolute; 
    z-index: 1; 
    width: 100%; 
    margin-top: 8rem;
    margin-left: 80px;
}

.fist-end{
    position: relative;
    margin-top: -50px;
}
.slid-btn{
    width: 10px;
    margin-top: 303px;
    height: 50px;
}
#slid-line{
    margin-bottom: 160px;
}
.text-end-icon{
    color: #B3B4B9;
}

.text-end-p{
    color: #3E4151;
}

.f-end-hover :hover{
    color: #0094F5;
    cursor: pointer;
}

.absolute-img{
    width: 230px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
}

.flex-img{
    display: flex;
    justify-content: end;
}

.flex-img-icon{
    display: flex;
    justify-content: end;
    left: 94%;
    top: 180px;
   
}


.fixed-img-slid{
    animation-name: example;
    animation-duration: 16s; /* 4s for each image transition, total 16s for four images */
    background-image: url("assets/img/call-static-img-1.png");
    background-size: cover; /* Adjust this based on your needs */
    
}

@keyframes example {
    0% {
        background-image: url("assets/img/call-static-img-1.png");
    }
    25% {
        background-image: url("assets/img/call-static-img-2.png");
    }
    50% {
        background-image: url("assets/img/call-static-img-3.png");
    }
    75% {
        background-image: url("assets/img/call-static-img-4.png");
    }
    100% {
        background-image: url("assets/img/call-static-img-1.png");
    }
}




/* Scand Page */
.btn-drop-size {
    width: 260px;
    height: 60px;
}

.secand-p-btn{
    background-color: #0957C2;  
    color: white;
    width: 100%;
    height: 120px;
    font-size: 130%;
    
}
.sp-img{
    width: 100%;
}

.s-img-text{
    margin-bottom: 20%;
    margin-left: 80px;
}

/*Thread Page */
.td-blue-line{
    background-color: #094EAF;
    width: 100%;
    height: 200px;
}

.trd-cad-div{
    width: 390px;
}
.trd-cad-div-2{
    width: 390px;
    height: 150px;
}
.cad-hover :hover{
    background-color: #0950B3;
    color: white;
    cursor: pointer;

}

/*Strat Follow us secaction*/

.follow-icon {
    cursor: pointer;
    transition: transform .2s; 
}

.follow-icon:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }